export API_DOMAIN=api.syncano.test:8000
export COLORS_ENABLED=true
export DB_CONN_MAX_AGE=300
export DJANGO_DEBUG=true
export DJANGO_SETTINGS_MODULE=settings.development
export LEGACY_CODEBOX_ENABLED=true
export PYTHONHASHSEED=0
export TRACING_ENABLED=false
export ZIPKIN_RAISE=true
