commands:
  01backup_original_flip_hook_appdeploy:
    command: cp -f /opt/elasticbeanstalk/hooks/appdeploy/enact/01flip.sh /opt/elasticbeanstalk/hooks/appdeploy/01flip.sh.bak
    test: '[ ! -f /opt/elasticbeanstalk/hooks/appdeploy/01flip.sh.bak ]'
  02backup_original_flip_hook_configdeploy:
    command: mv /opt/elasticbeanstalk/hooks/configdeploy/enact/01flip.sh /opt/elasticbeanstalk/hooks/configdeploy/01flip.sh.bak
    test: '[ ! -f /opt/elasticbeanstalk/hooks/configdeploy/01flip.sh.bak ]'
  03reorder_original_flip_hook_appdeploy:
    command: mv /opt/elasticbeanstalk/hooks/appdeploy/enact/01flip.sh /opt/elasticbeanstalk/hooks/appdeploy/enact/10flip.sh
    test: '[ -f /opt/elasticbeanstalk/hooks/appdeploy/enact/01flip.sh ]'
  04reorder_original_flip_hook_configdeploy:
    command: ln -s /opt/elasticbeanstalk/hooks/appdeploy/enact/10flip.sh /opt/elasticbeanstalk/hooks/configdeploy/enact/10flip.sh
    test: '[ ! -f /opt/elasticbeanstalk/hooks/configdeploy/enact/10flip.sh ]'

container_commands:
  01copy_appdeploy:
    command: "cp .ebextensions/scripts/graceful_shutdown.sh /opt/elasticbeanstalk/hooks/appdeploy/enact/05graceful_shutdown.sh"
  02copy_configdeploy:
    command: "cp .ebextensions/scripts/graceful_shutdown.sh /opt/elasticbeanstalk/hooks/configdeploy/enact/05graceful_shutdown.sh"
  03make_exe_appdeploy:
    command: "chmod +x /opt/elasticbeanstalk/hooks/appdeploy/enact/05graceful_shutdown.sh"
  04make_exe_configdeploy:
    command: "chmod +x /opt/elasticbeanstalk/hooks/configdeploy/enact/05graceful_shutdown.sh"
