packages:
  yum:
    rsyslog-gnutls: []
files:
  "/etc/rsyslog.d/00-files.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # load file watcher module
      $Modload imfile

      $InputFileName /var/log/eb-tools.log
      $InputFileTag eb-tools
      $InputFileStateFile eb-state
      $InputFileSeverity info
      $InputFileFacility local6
      $InputRunFileMonitor

      $InputFileName /var/log/eb-commandprocessor.log
      $InputFileTag eb-tools
      $InputFileStateFile eb-state
      $InputFileSeverity info
      $InputFileFacility local6
      $InputRunFileMonitor

      $InputFileName /var/log/eb-version-deployment.log
      $InputFileTag eb-tools
      $InputFileStateFile eb-state
      $InputFileSeverity info
      $InputFileFacility local6
      $InputRunFileMonitor

      $InputFileName /var/log/eb-activity.log
      $InputFileTag eb-tools
      $InputFileStateFile eb-state
      $InputFileSeverity info
      $InputFileFacility local6
      $InputRunFileMonitor

      $InputFileName /var/log/eb-cfn-init.log
      $InputFileTag eb-cfn
      $InputFileStateFile eb-cfn-init-state
      $InputFileSeverity info
      $InputFileFacility local6
      $InputRunFileMonitor

      $InputFileName /var/log/cfn-hup.log
      $InputFileTag cfn
      $InputFileStateFile eb-state
      $InputFileSeverity info
      $InputFileFacility local6
      $InputRunFileMonitor

      $InputFileName /var/log/cfn-init.log
      $InputFileTag cfn
      $InputFileStateFile eb-state
      $InputFileSeverity info
      $InputFileFacility local6
      $InputRunFileMonitor

      $InputFileName /var/log/nginx/access.log
      $InputFileTag nginx-access
      $InputFileStateFile nginx-access-state
      $InputFileSeverity info
      $InputFileFacility local6
      $InputRunFileMonitor

      $InputFileName /var/log/nginx/error.log
      $InputFileTag nginx-error
      $InputFileStateFile nginx-error-state
      $InputFileSeverity info
      $InputFileFacility local6
      $InputRunFileMonitor

      $InputFileName /tmp/uwsgi.log
      $InputFileTag uwsgi-info
      $InputFileStateFile uwsgi-info-state
      $InputFileSeverity info
      $InputFileFacility local6
      $InputRunFileMonitor

      $InputFileName /tmp/uwsgi_offload.log
      $InputFileTag uwsgi-offload-info
      $InputFileStateFile uwsgi-offload-info-state
      $InputFileSeverity info
      $InputFileFacility local6
      $InputRunFileMonitor

      $InputFileName /var/log/docker
      $InputFileTag docker-info
      $InputFileStateFile docker-info-state
      $InputFileSeverity info
      $InputFileFacility local6
      $InputRunFileMonitor

  "/etc/rsyslog.d/99-logentries.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # set file poll seconds
      $InputFilePollInterval 10

      # enable ssl
      $DefaultNetstreamDriverCAFile /etc/ssl/certs/logentries.all.crt
      $ActionSendStreamDriver gtls
      $ActionSendStreamDriverMode 1
      $ActionSendStreamDriverAuthMode x509/name
      $ActionSendStreamDriverPermittedPeer *.logentries.com

      # log everything to logentries
      $template LogentriesFormat,"LE_TOKEN %HOSTNAME% %syslogtag%%msg%\n"
      *.* @@data.logentries.com:443;LogentriesFormat

  "/etc/logrotate.d/container_nginx":
    mode: "0006444"
    owner: root
    group: root
    content: |
      /var/log/container_log/nginx/*log {
        daily
        rotate 10
        missingok
        notifempty
        compress
        sharedscripts
        postrotate
            docker exec -it `docker ps -q` nginx -s reload
        endscript
      }

commands:
  01restart_syslog:
    command: "service rsyslog restart"
