files:
  "/etc/supervisord/supervisord.conf":
    mode: "000750"
    owner: root
    group: root
    content: |
      [unix_http_server]
      file=/var/run/supervisor.sock
      chmod=0700
      [supervisord]
      logfile=/var/log/supervisord/supervisord.log
      logfile_maxbytes=50MB
      logfile_backups=10
      loglevel=info
      pidfile=/tmp/supervisord.pid
      nodaemon=false
      minfds=1024
      minprocs=200
      [supervisorctl]
      serverurl=unix:///var/run/supervisor.sock
      [rpcinterface:supervisor]
      supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface
      [include]
      files = /etc/supervisord/conf.d/*.conf

  "/etc/init.d/supervisord":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      #
      # /etc/rc.d/init.d/supervisord
      #
      # Supervisor is a client/server system that
      # allows its users to monitor and control a
      # number of processes on UNIX-like operating
      # systems.
      #
      # chkconfig: - 64 36
      # description: Supervisor Server
      # processname: supervisord

      # Source init functions
      . /etc/init.d/functions

      RETVAL=0
      prog="supervisord"
      pidfile="/tmp/supervisord.pid"
      lockfile="/var/lock/subsys/supervisord"

      start()
      {
              echo -n $"Starting $prog: "
              daemon --pidfile $pidfile /usr/local/bin/supervisord -c /etc/supervisord/supervisord.conf
              RETVAL=$?
              echo
              [ $RETVAL -eq 0 ] && touch ${lockfile}
      }

      stop()
      {
              echo -n $"Shutting down $prog: "
              killproc -p ${pidfile} /usr/local/bin/supervisord
              RETVAL=$?
              echo
              if [ $RETVAL -eq 0 ] ; then
                      rm -f ${lockfile} ${pidfile}
              fi
      }

      case "$1" in

        start)
          start
        ;;

        stop)
          stop
        ;;

        status)
              status $prog
        ;;

        restart)
          stop
          start
        ;;

        *)
          echo "Usage: $0 {start|stop|restart|status}"
        ;;

      esac

commands:
  01supervisord:
    command: "easy_install supervisor"

  02supervisor_dir:
    command: "mkdir -p /etc/supervisord/conf.d"

  03supervisor_log:
    command: "mkdir -p /var/log/supervisord"

  04supervisord_symlink_config:
    command: "if [ ! -f /etc/supervisord.conf ]; then ln -s /etc/supervisord/supervisord.conf /etc/supervisord.conf; fi"

  05supervisord_symlink_binary:
    command: "if [ ! -f /usr/sbin/supervisorctl ]; then ln -s /usr/local/bin/supervisorctl /usr/sbin/supervisorctl; fi"
