container_commands:
  01pip_install:
    command: pip install python-iptables==0.12.0
  02copy_isolation:
    command: "cp .ebextensions/scripts/iptables_docker_separation.py /opt/elasticbeanstalk/hooks/appdeploy/post/"
  03make_exec_isolation:
    command: "chmod +x /opt/elasticbeanstalk/hooks/appdeploy/post/iptables_docker_separation.py"
  04cp_exec_isolation_to_restartapp_hooks:
    command: "cp /opt/elasticbeanstalk/hooks/appdeploy/post/iptables_docker_separation.py /opt/elasticbeanstalk/hooks/restartappserver/enact/"
  05cp_exec_isolation_to_configdeploy_hooks:
    command: "cp /opt/elasticbeanstalk/hooks/appdeploy/post/iptables_docker_separation.py /opt/elasticbeanstalk/hooks/configdeploy/enact/"
