container_commands:
  01copy:
    command: "cp .ebextensions/scripts/docker_cleanup_volumes.sh /home/ec2-user/"
  02add_script_to_cron:
    command: >-
      { crontab -l 2>/dev/null | grep -v "docker_cleanup_volumes"; echo "*/5 * * * * /home/ec2-user/docker_cleanup_volumes.sh &> /dev/null"; } | crontab -
