container_commands:
  00prevent_sandbox_removal_post_deploy:
    command: "cp .ebextensions/scripts/post_deploy_clean_imgs_patched.sh /opt/elasticbeanstalk/hooks/appdeploy/post/00_clean_imgs.sh"
  01make_exec:
    command: "chmod +x /opt/elasticbeanstalk/hooks/appdeploy/post/00_clean_imgs.sh"
  02prevent_sandbox_removal_pre_deploy:
    command: "cp .ebextensions/scripts/pre_deploy_clean_dir_patched.sh /opt/elasticbeanstalk/hooks/appdeploy/pre/00clean_dir.sh"
  03make_exec:
    command: "chmod +x /opt/elasticbeanstalk/hooks/appdeploy/pre/00clean_dir.sh"
  04pull_image:
    command: "docker pull quay.io/syncano/script-docker-image:devel"
  05copy:
    command: "cp .ebextensions/scripts/*_check.py /home/ec2-user/"
  06install_python_packages:
    command: "pip install retrying==1.3.1 docker-py==1.5.0"
  07make_exec:
    command: "chmod +x /home/ec2-user/*_check.py"
  08run_worker_check:
    command: /home/ec2-user/worker_alive_check.py
