files:
  "/etc/supervisord/conf.d/docker_watchdog.conf":
    mode: "000750"
    owner: root
    group: root
    content: |
      [program:docker_watchdog]
      environment = SYNCANO_ENV=devel
      command = /home/ec2-user/docker_watchdog.py
      autostart = false
      autorestart = true
      stdout_logfile = /var/log/supervisord/docker_watchdog.stdout.log
      stderr_logfile = /var/log/supervisord/docker_watchdog.stderr.log

container_commands:
  00copy_watchdog_script:
    command: "cp .ebextensions/scripts/docker_watchdog.py /home/ec2-user/"
  01make_exec:
    command: "chmod +x /home/ec2-user/docker_watchdog.py"
  02copy_script_stopping_watchdog_during_deploy:
    command: "cp .ebextensions/scripts/docker_watchdog_stop.sh /opt/elasticbeanstalk/hooks/appdeploy/pre/000_docker_watchdog_stop.sh"
  03make_exec:
    command: "chmod +x /opt/elasticbeanstalk/hooks/appdeploy/pre/000_docker_watchdog_stop.sh"
  04copy_script_stopping_watchdog_during_deploy:
    command: "cp .ebextensions/scripts/docker_watchdog_start.sh /opt/elasticbeanstalk/hooks/appdeploy/post/99_docker_watchdog_start.sh"
  05make_exec:
    command: "chmod +x /opt/elasticbeanstalk/hooks/appdeploy/post/99_docker_watchdog_start.sh"
