kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v1
metadata:
  name: platform-codebox
spec:
  minReplicas: {{ LEGACY_CODEBOX_MIN }}
  maxReplicas: {{ LEGACY_CODEBOX_MAX }}
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: platform-codebox
  targetCPUUtilizationPercentage: 70
