kind: Job
apiVersion: batch/v1
metadata:
  name: platform-migration
spec:
  template:
    metadata:
      name: platform-migration
    spec:
      imagePullSecrets:
        - name: syncano-k8s-pull-secret
      restartPolicy: Never
      containers:
        - name: platform-web
          image: {{ IMAGE }}
          command:
            - "./run_care.sh"
            - "{{ CARE_ARGUMENTS }}"
          resources:
            requests:
              memory: "1Gi"
              cpu: 1
          envFrom:
            - configMapRef:
                name: platform
            - secretRef:
                name: platform
            - secretRef:
                name: syncano-db-credentials
{%- if GCP_LOCATIONS %}
          volumeMounts:
  {%- for item in GCP_LOCATIONS.split(',') %}
            - name: {{ item }}-storage-credentials
              mountPath: /secrets/{{ item }}-storage
              readOnly: true
  {%- endfor %}
{%- endif %}
{%- if GCP_LOCATIONS %}
      volumes:
  {%- for item in GCP_LOCATIONS.split(',') %}
        - name: {{ item }}-storage-credentials
          secret:
            secretName: {{ item }}-storage-credentials
  {%- endfor %}
{%- endif %}
