kind: Deployment
apiVersion: apps/v1
metadata:
  name: platform-web
  labels:
    app: platform
    type: web
spec:
  replicas: {{ REPLICAS }}
  selector:
    matchLabels:
      app: platform
      type: web
  progressDeadlineSeconds: 600
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 50%
    type: RollingUpdate

  template:
    metadata:
      labels:
        buildtime: {{ BUILDTIME }}
        app: platform
        type: web
    spec:
      terminationGracePeriodSeconds: 330
      securityContext:
        fsGroup: 1000
      volumes:
        - name: acme
          secret:
            secretName: platform-acme
{%- if GCP_LOCATIONS %}
  {%- for item in GCP_LOCATIONS.split(',') %}
        - name: {{ item }}-storage-credentials
          secret:
            secretName: {{ item }}-storage-credentials
  {%- endfor %}
{%- endif %}
      containers:
        - name: web
          image: {{ IMAGE }}
          volumeMounts:
            - name: acme
              mountPath: "/acme/config/account.thumb"
              readOnly: true
              subPath: account.thumb
{%- if GCP_LOCATIONS %}
  {%- for item in GCP_LOCATIONS.split(',') %}
            - name: {{ item }}-storage-credentials
              mountPath: /secrets/{{ item }}-storage
              readOnly: true
  {%- endfor %}
{%- endif %}
          securityContext:
            runAsGroup: 1000
            runAsNonRoot: true
            runAsUser: 1000
          resources:
            requests:
              memory: "1024Mi"
              cpu: 500m
            limits:
              memory: "1536Mi"
              cpu: 1000m
          ports:
            - name: http
              containerPort: 8080
          env:
            - name: INSTANCE_TYPE
              value: web
          envFrom:
            - configMapRef:
                name: platform
            - secretRef:
                name: platform
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - curl -f localhost:1717
            initialDelaySeconds: 10
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - curl -f localhost:1717
            initialDelaySeconds: 5
