kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v1
metadata:
  name: platform-web
spec:
  minReplicas: {{ WEB_MIN }}
  maxReplicas: {{ WEB_MAX }}
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: platform-web
  targetCPUUtilizationPercentage: 50
