kind: Service
apiVersion: v1
metadata:
  name: platform-web
  labels:
    k8s-app: platform-web
spec:
  type: ClusterIP
  selector:
    app: platform
    type: web
  ports:
    - name: uwsgi
      protocol: TCP
      port: 8000
      targetPort: uwsgi
    - name: uwsgi-long
      protocol: TCP
      port: 8001
      targetPort: uwsgi-long
