kind: Deployment
apiVersion: apps/v1
metadata:
  name: platform-worker
  labels:
    app: platform
    type: worker
spec:
  replicas: {{ REPLICAS }}
  selector:
    matchLabels:
      app: platform
      type: worker
  progressDeadlineSeconds: 600
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 50%
    type: RollingUpdate

  template:
    metadata:
      labels:
        buildtime: {{ BUILDTIME }}
        app: platform
        type: worker
    spec:
      volumes:
        - name: cert-data
          nfs:
            server: {{ CERTS_NFS }}
            path: /
            readOnly: false
        - name: acme
          secret:
            secretName: platform-acme
{%- if GCP_LOCATIONS %}
  {%- for item in GCP_LOCATIONS.split(',') %}
        - name: {{ item }}-storage-credentials
          secret:
            secretName: {{ item }}-storage-credentials
  {%- endfor %}
{%- endif %}

      terminationGracePeriodSeconds: 360
      containers:
        - name: worker
          image: {{ IMAGE }}
          securityContext:
            privileged: true
          volumeMounts:
            - name: cert-data
              mountPath: "/acme/certs"
              subPath: certs
            - name: acme
              mountPath: "/acme/config/account.key"
              readOnly: true
              subPath: account.key
            - name: acme
              mountPath: "/acme/config/account.thumb"
              readOnly: true
              subPath: account.thumb
{%- if GCP_LOCATIONS %}
  {%- for item in GCP_LOCATIONS.split(',') %}
            - name: {{ item }}-storage-credentials
              mountPath: /secrets/{{ item }}-storage
              readOnly: true
  {%- endfor %}
{%- endif %}
          resources:
            requests:
              memory: "1536Mi"
              cpu: 0.5
            limits:
              memory: "2048Mi"
              cpu: 1
          env:
            - name: INSTANCE_TYPE
              value: worker
          envFrom:
            - configMapRef:
                name: platform
            - secretRef:
                name: platform
