kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v1
metadata:
  name: platform-worker
spec:
  minReplicas: {{ WORKER_MIN }}
  maxReplicas: {{ WORKER_MAX }}
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: platform-worker
  targetCPUUtilizationPercentage: 70
