aws:
    bucket: 'elasticbeanstalk-us-east-1-288675322138'
    bucket_path: 'elasticbeanstalk-us-east-1-288675322138'
    region: 'us-east-1'

# application configuration
app:
    versions_to_keep: 10 # the number of unused application versions to keep around
    app_name: 'syncano-v4-prod-beanstalk-app' # the name of your application
    description: 'Syncano' # description of your app
